*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  height: 100vh;
  display: grid;
  grid-template-columns: 700px 1fr;
  grid-template-rows: 90px 1fr 90px;
  text-align: center;
}

.sidebar{
  background-color: #03abed;
  left: 40%;
  margin: 10px;
}

.header, .footer{
  background: rgb(255, 166, 0);
  grid-column-start: 1;
  grid-column-end: 3;
}
.content{
  background: cadetblue;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 10px;
  
}